---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Header from '@/components/base/Header/Header.astro'
import HeaderStart from '@/components/base/Header/HeaderStart.astro'
import HeaderEnd from '@/components/base/Header/HeaderEnd.astro'
import HeaderTitle from '../components/base/Header/HeaderTitle.astro'
import AppIcon from '@/components/ui/AppIcon.astro'
import AppNavCard from '@/components/AppNavCard.astro'
import PageHeadingGroup from '../components/base/PageHeading/PageHeadingGroup.astro'
import PageHeadingTitle from '../components/base/PageHeading/PageHeadingTitle.astro'
import PageHeadingSubtitle from '../components/base/PageHeading/PageHeadingSubtitle.astro'

const pageTitle = 'App Launcher'

const apps = [
  {
    title: 'Price Calculator',
    icon: 'calculator',
    color: 'bg-violet-400',
    path: '/pricing',
  },
  {
    title: 'Logbook',
    icon: 'book-open-text',
    color: 'bg-emerald-500',
    path: '/',
  },
  {
    title: 'Resource Planner',
    icon: 'table',
    color: 'bg-orange-500',
    path: '/',
  },
  {
    title: 'Analytics Dashboard',
    icon: 'app-window',
    color: 'bg-red-500',
    path: '/',
  },
]
---
<DefaultLayout
  metaTitle={pageTitle}
  metaDescription="Select an app to get started"
  className="bg-linear-to-b from-neutral-50 to-cyan-50/70"
>
  <Header>
    <HeaderStart>
      <AppIcon icon="pyramid" size="sm" color="bg-cyan-500" />
      <HeaderTitle>App Launcher</HeaderTitle>
    </HeaderStart>
    <HeaderEnd>What will you do today?</HeaderEnd>
  </Header>
  <main class="container mx-auto px-6 py-8">
    <PageHeadingGroup>
      <PageHeadingTitle>Home</PageHeadingTitle>
      <PageHeadingSubtitle>Select an application to get started</PageHeadingSubtitle>
    </PageHeadingGroup>

    <article class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
      {apps.map(x =>
        <a href={x.path}>
          <AppNavCard title={x.title} icon={x.icon} color={x.color} />
        </a>
      )}
    </article>
  </main>
</DefaultLayout>
